<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/logstyle.css}">
</head>
<body>
<h3 style="font-size:70px;text-align: center "> Login</h3>
<form action="validate" method="post" >

		<label> Email : </label> <input type="email" name="email" />
		<br />
		<br /> 
		<label> Password : </label>  <input type="password" name="password" />
		<br /> 
		<br /> 
		

		<input type="submit" value="LOGIN" class="loginbtn"/>
	</form>
</body>
</html>